Library/
Logs/
obj/
[Bb]uild/
[Bb]uilds/
[Uu]ser[Ss]ettings/
.vs/
/[Rr]ecordings/
/[Mm]emoryCaptures/
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/Plugins/Editor/JetBrains*
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.consulo/
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
*.meta
OpenCV+Unity/
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*